@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* overflow: hidden; */
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 10vw;
  font-weight: 500;
  text-shadow: -2px 2px 5px white;
}
h2 {
  padding: 0;
  margin: 0;
  font-weight: 200;
  font-size: 2vw;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Titillium Web', sans-serif;
  background: linear-gradient(#272727, #000000);
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, aråial,
    sans-serif; */
  /* font-family: 'Titillium Web', sans-serif; */
  color: white;
  background: linear-gradient(#272727, #000000);
}

.controls {
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.controls input {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  margin: 0 1rem;
  width: 60px;
}

.controls label {
  background: none;
  border: none;
  font-weight: 600;
  color: palevioletred;
  padding: 0.4rem;
  margin: 0.1rem;
}

#stopwatch {
  display: flex;
  position: absolute;
  color: white;
  text-shadow: -2px 2px 5px white;
  /* border-top: 1px solid white;
  border-bottom: 1px solid white; */
  z-index: 10;
  bottom: 50px;
  left: 50px;
  transform: skew(12deg, 5deg);
}

#elapsed-time {
  flex: 1 1 auto;
  padding-right: 0.5vw;
  font-size: 4vw;
  font-weight: 200;
  margin: 0;
}

#elapsed-label {
  display: flex;
  align-items: center;
  width: 1VH;
  padding-left: 20px;

  margin: 10x;
}

canvas {
  width: 100%;
  height: 100%;
}

#home {

  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  margin-top: 30vh;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  /* /* letter-spacing: 0.4em; */
  /* position: fixed; */
  /* transform: translate(-50%, -50%); */
}

#github {
  font-size: 2vh;
  /* position: fixed;
  width: 100%;
  height: 100%; */
  /* top: 80%;
  left: 50%; */
  /* transform: translate(-50%, 0%); */
  /* color: white; */
  /* text-align: center; */
  display: inline-block;
  background-color: white;
  border-radius: 100px;

}

#playButton {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font-size: 4vh;
  border: 1px solid;
  /* border-radius: 14px; */
  background-color: transparent;
  text-decoration: uppercase;
  text-align: center;
  padding: 14px 18px;
  transform: skew(-10deg);
  box-shadow: 10px 10px white;
  /* position: fixed;
  top: 65%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}
